<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mca.project" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Matrimonial</name>
    <description>
        A matrimonial mobile app.
    </description>
    <author email="palanchintan1995@gmail.com">
        Chintan And Jeffin
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
            <preference name="android-minSdkVersion" value="15" />

    </platform>
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <engine name="android" spec="^6.3.0" />
    <engine name="browser" spec="~5.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.1" />
    <plugin name="onesignal-cordova-plugin" spec="^2.2.2" />
    <universal-links>
        <host name="fpuc6.app.goo.gl" scheme="https" />
        <host name="https://matrimonial-c8a00.firebaseapp.com/__/auth/handler" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    

</widget>
